@media screen and (min-width: 702px){
	.boutlog {
		background-color: blue;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		border:9px solid #00008B;
		display:inline-block;
		cursor:pointer;
		font-family:Roboto;
		font-size:28px;
		padding:11px 25px;
		text-decoration:none;
	}
	.boutlog:hover {
		background-color:#5cbf2a;
	}
	.boutlog:active {
		position:relative;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 701px){
	.boutlog {
		background-color: blue;
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		border:9px solid #00008B;
		display:inline-block;
		cursor:pointer;
		font-family:Roboto;
		font-size:28px;
		padding:11px 25px;
		text-decoration:none;
	}
	.boutlog:hover {
		background-color:#5cbf2a;
	}
	.boutlog:active {
		position:relative;
	}
	img {
		max-width: 100%;
		max-height: 80%;
	}
}